.app {
  text-align: center;
  margin-top: 2rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 2px;
}

.row {
  display: flex;
}

.node {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}

.node-start {
  background-color: #42f55d;
}

.node-end {
  background-color: #f54242;
}

.node-wall {
  background-color: #24292e;
}

.node-visited {
  background-color: #76c5ff;
}

.node-shortest-path {
  background-color: #f2a154;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 1rem;
}


